# WooCommerce (serveur uniquement : ne jamais prefixer par NEXT_PUBLIC_)
WOOCOMMERCE_URL=https://darkturquoise-mouse-660487.hostingersite.com
WOOCOMMERCE_CONSUMER_KEY=ck_ca1c8dcd7c737ac791a9a36ee99c579400a33858
WOOCOMMERCE_CONSUMER_SECRET=cs_28421185955d95910c17a7c83a3a253b55d1de2a
