# WooCommerce (serveur uniquement : ne jamais prefixer par NEXT_PUBLIC_)
WOOCOMMERCE_URL=https://darkturquoise-mouse-660487.hostingersite.com
WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=

# GitHub / Vercel (serveur uniquement)
GITHUB_TOKEN=
VERCEL_TOKEN=
